table{
  border-collapse:collapse;
}

.html-table{
  background-color:#00ced1;
}

.html{
  background-color:#00ced1;
}

.css-table{
  background-color:#00ced1;
}

.css{
  background-color:#ffdead;
}

td{
  text-align:left;
}
